{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- jQuery debe ir primero -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" crossorigin="anonymous">

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" crossorigin="anonymous"></script>

    {% block head %}
    <title>ISIS2503</title>
    {% endblock %}
</head>
<body>
    <br>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="{% static 'media/Corazón.png' %}" width="45" height="45" alt="Logo">
        </a>

        <a class="navbar-brand" href="/">Hospital App</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'clienteList' %}">Clientes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/mri/">MRI</a>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="container" style="min-height: 580px;">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <!-- Footer -->
    <footer style="background-color: #D8D8D8; position: relative; bottom: 0; width: 100%; height: 100px;">
        <div style="padding: 30px">
            <div style="float: left; width: 400px;">ISIS-2503 Arquitectura y Diseño de Software</div>
            <div style="float: right; width: 220px;">Universidad de los Andes</div>
            <br>
            <div style="float: left; width: 400px;"><i>N/A - Grupo #3</i></div>
        </div>
        <br>
    </footer>
</body>
</html>
