{% extends 'base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="text-center">
        <h1 class="display-4 text-primary mb-4">¡Bienvenido a Hospital App!</h1>
        <p class="lead mb-5">Administra tus clientes y exámenes MRI de forma clara, sencilla y rápida.</p>

        <img src="/static/media/healthy-people-carrying-different-icons-related-to-healthy-lifestyle-vector.jpg"
             alt="Imagen de estilo de vida saludable"
             class="img-fluid rounded shadow mt-4"
             style="max-width: 600px;">
    </div>
</div>

{% endblock %}
